extends layout

block content
  h1 can you doubledutch?
  pre(id="theater")
  p
    button(id="go") GO!
    pre function getDoubleDutcherFunction() {
    textarea(id="code")
      | // "step", "jump", or "wait"
      | return function () {
      |     return "step";
      | };
    pre }
  div(id="attrib")
    a(href="https://github.com/AdamLiechty") adam
    span @
    a(href="http://doubledutch.me/about.html") doubledutch
  script.
    $(function() { doubledutch(); });
